@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Me in Very Brief Details ;)</h2>
<h3>@ViewBag.Message</h3>

<p>Hello, all users! Welcome to the second app of many, created by yours truly, Jordan Pitters of Seneca College.
     This app is but a test provided to me by the most humble of professors, Eden Burton! The task is an assignment for students of the BTI420 SBB 2017 winter term class.
    Like previously stated, this is a Seneca College program, Bachelor's of Software Development, to be exact. You can find the campus here:
<br /> - 70 The Pond Road
<br /> - North York, ON M3J 3M6 </p>
