@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Me If You Like :)</h2>
<h3>@ViewBag.Message</h3>

<address>
    40 The Pond Road<br />
    North York, ON M3J 3M6<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Seneca Email:</strong>   <a href="mailto:jpitters@myseneca.ca">jpitters@myseneca.ca</a><br />
    <strong>Seneca Email Again:</strong> <a href="mailto:jpitters@myseneca.ca">jpitters@myseneca.ca</a>
</address>